 main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        /* Keep adding new columns - even if theres is no content for them. content does not alwys take up full width */
        /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
        /* Don't add more columns than theres is content for. && +content "always" take full width */
        grid-gap: 1rem;
    }

article {
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    padding: 1rem;
}
